<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::title},~{::#content1},~{::script},~{::style})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Your Contact</title>   <!-- This Will Be Come Daynamically -->
    <style></style>
</head>
<body>

   
   <div id="content1" class="pt-20 pl-64">

    <div th:if="${uInfo}">
        <p th:replace="~{user/sidebar::sidebar}">Skdkk</p>   
    </div>  

            <div  style="width: max-content; margin-left:260px;height:fit-content; width: 81%;">
                





<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <form th:action="@{/user/contact/search}">


        <div class="flex items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
      

            <!--Select Box-->
    
                <div>
      <select name="field" id="countries_disabled"  class="bg-gray-50 border      border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Select Field</option>
        <option value="name">Name</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
      </select>
                </div>
    
    
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative ml-2">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input name="keyword" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
            </div>
    
            <button type="submit" class="px-3 py-1 ml-2 bg-gray-800 text-white rounded">Search</button>
    
    
        </div>

    </form>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Links
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c:${pagecontact.content}" th:object="${c}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
             
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" th:src="@{*{picture}}" alt="Jese image">
                    <div class="ps-3">
                        <div class="text-base font-semibold" th:text="*{name}">Neil Sims</div>
                        <div class="font-normal text-gray-500" th:text="*{email}">neil.sims@flowbite.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <i class="fa-solid fa-phone"></i>
                    <span th:text="*{phoneNumber}"></span>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div th:if="*{favorite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> 
                        <a th:href="@{*{websiteLink}}" target="_blank"><i class="fa-solid w-5 h-5 fa-link"></i></a>
                        <a th:href="@{*{linkedinLink}}" target="_blank"><i class="fa-brands w-5 h-5 fa-linkedin"></i></a>
                    </div>
                </td>
                <td class="px-6 py-4">
                    <!-- <a th:href="@{'/user/contact/delete/'+*{id}}" class="pl-2"><i class="fa-solid fa-trash"></i></a> -->
                    <button th:onclick="deleteContact([[${c.id}]])" class="pl-2"><i class="fa-solid fa-trash"></i></button>
                    <button  th:onclick="loadContactdata([[${c.id}]])" class="pl-2"><i class="fa-solid fa-eye"></i></button>
                   
                   <!--Update the Contact-->
                    <a th:href="@{'/user/contact/view/'+*{id}}"class="pl-2"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="pagination-container pt-5 text-right pr-5 pb-4">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-base h-10">
              <li th:if="${pagecontact.number-1 >= 0}">
                <a href="#" th:href="@{'/user/contact?page='+${pagecontact.number-1}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
              </li>
              <li th:each="index:${#numbers.sequence(0,pagecontact.totalPages-1)}">
                <a href="#" th:href="@{'/user/contact?page='+${index}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span th:text="${index+1}"></span></a>
              <li>
                <a href="#" th:href="@{'/user/contact?page='+${pagecontact.number+1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
              </li>
            </ul>
          </nav>
    </div>


</div>  





<div th:replace="~{user/contact_model::contant}">

</div>



      </div> 
   </div>


<script th:src="@{/js/contact.js}"></script>
<script>
    console.log("Contact Page id Here");
</script>


</body>
</html>