<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::title},~{::#content1},~{::script},~{::style})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style></style>
</head>
<body>


    <div id="content1" class="pl-64 pt-20">
        <div class="flex flex-col  items-center justify-center   md:p-0 lg:p-0">
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                
                <div th:replace="message::messagef"></div>  <!-- Here We Retrive the Session Atribute-->
                
                <h>Login Here</h>
                <div class="text-red-400" th:if="${param.error}">Invalid UserName And Password</div>
                <div class="text-green-400"  th:if="${param.logout}">you Are Logout</div>

                <form class="max-w-sm mx-auto"  method="post" th:action="@{/authenticate}"  novalidate>
                  
                    <!--UserName is Here -->
                    <div>
                        <label for="email" class="block mb-2 mt-3 text-sm font-medium text-gray-900 dark:text-white">Email
                            :</label>
                        <input type="email" name="email" style="width: 320px;" placeholder="example@gmail.com" id="email"  
                            class="block p-2 mt-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                   
                            <!-- <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-600">Name is required</p> -->
                        </div>
                    <!--Password Here -->
                    <div>
                        <label for="password" class="block mt-3 mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                            Password</label>
                        <input type="password" name="password" style="width: 320px;" id="password" 
                          placeholder="12345"  class="block p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    
                          <!-- <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-600">Name is required</p> -->
                        </div>
                   
                    <!--Button Here -->
                    <div class="mt-2 flex justify-center ">
                        <input type="submit" class="text-white bg-gradient-to-r mt-2 from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"></input>
                        <button type="reset" class="text-white bg-gradient-to-r mt-2 from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Reset</button>
                    </div>
                    
                </form>

                <div class="social-buttons-container flex flex-col space-y-5 justify-center items-center mt-5 w-full">
                    <a class="w-1/2 py-2 flex justify-center items-center bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg transition ease-in duration-200 text-center"
                       th:href="@{/oauth2/authorization/google}">
                      Login with Google
                    </a>
                  
                    <a  th:href="@{/oauth2/authorization/github}" class="w-1/2 py-2 flex justify-center items-center bg-gray-600 hover:bg-gray-700 text-white font-semibold rounded-lg transition ease-in duration-200 text-center">
                      Sign in with GitHub
                    </a>
                  </div>


            </div>
        </div>
    </div>

    <script></script>

</body>
</html>